################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.orig
[cC]make*/

# VS code config directory
.vscode/
